
/* ================= PPOST SECTION ================= */
.slider-container {
  padding: 0px 15px;
}

.popularPost .slick-slide {
  display: flex;
  justify-content: center;
}

.popularPost .slick-list {
  overflow: hidden;
  margin: 0 -10px;
}

.popularPost .slick-slide > div {
  padding: 0 10px;
}
