/* ================= MUSIC SECTION ================= */
.music {
  background-color: var(--section-bg);
}

.music .box {
  margin-bottom: 20px;
}

.music .text {
  font-family:Open Sans, Arial, sans-serif ;
  padding: 0 20px;
  color: var(--text-main);
}

.music .images,
.music img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.music h1 {
  font-size: 20px;
  color: var(--text-main);
}

@media screen and (max-width: 768px) {
  .music img,
  .music .images {
    height: 300px;
    width: 100%;
  }

  .music .text {
    padding: 0 15px;
  }
}
