.liveEvents {
  padding: 30px 20px;
}

.liveEvents .subtitle {
  text-align: center;
  color: #fea4a4;
  font-size: 14px;
  margin-bottom: 20px;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
  scrollbar-width: thin;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.event-card {
  flex: 0 0 auto;
  width: 280px;
  background: #131313;
  padding: 15px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #585858;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.event-card .logo img {
  width: auto;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #777676;
}

.event-card .info h3 {
  margin: 0;
  font-size: 18px;
  color: #faf8f8;
}

.event-card .info p {
  margin: 2px 0;
  font-size: 14px;
  color: #d6d5d5;
}

.event-card .info a {
  display: inline-block;
  margin-top: 8px;
  background: #007bff;
  color: white;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  text-decoration: none;
}

.event-card .info a:hover {
  background: #0056b3;
}
