
/* ================= ONLINE SECTION ================= */
.onlineTournaments {
  padding: 0px 15px;
  background-color: var(--section-bg);
}

.tournament-table {
  width: 100%;
  margin-top: 15px;
  font-size: 13px;
}

.tournament-header,
.tournament-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.8fr 1.2fr 3fr 1.2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid var(--border);
  color: var(--text-main);
}

.tournament-header {
  font-weight: bold;
  background: var(--header-bg);
}

.tournament-row {
  background: var(--row-bg);
}

.tournament-row:nth-child(even) {
  background: var(--row-bg-alt);
}

.brand-logo {
  width: 70px;
  height: auto;
}

.started {
  color: red;
}

.state {
  color: crimson;
  font-weight: 500;
}

.register-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.register-btn:hover {
  background-color: var(--button-hover);
}

@media screen and (max-width: 768px) {
  .tournament-header,
  .tournament-row {
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    gap: 5px;
  }

  .register-btn {
    padding: 5px 6px;
  }

  .brand-logo {
    width: 25px;
  }
}